/* Hide scrollbar for Chrome, Safari and Opera */
.hidescroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
.hidescroll {
    -ms-overflow-style: none;
  }
  .container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
*::-webkit-scrollbar{
    display: none;
}
.row{
    overflow-x: scroll;
}
.cards{
    /* background-color: aqua; */
    overflow: scroll;
    height: 100vh;
}
body{
    scroll-behavior: unset;
    position: fixed;
    width: 100%;
}
.myBody{
    height: 100vh;
}
span{
    color: white;
    cursor: pointer;
}
.topCard{
    padding-top:1.5%;
    width: 100%;
}
.center{
    width: 100%;
}